body{
   
    background-color: whitesmoke;
    background-repeat: no-repeat;
    top:0px;
    margin:0px;
    padding:0px;
        
}


.head{
    position:relative;
    width:100%;
    top:0px;
    margin:0px;
    padding:0px;
}
h1{
    position:absolute;
    margin: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
    width:100%;
    top:10px;
}

h2{
    position:absolute;
    top:200px;
    left:0;
    width:100%;
    text-align: center;
    color:white;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    
}

span{
    color:white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    background:rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding:10px;
}